// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inputleft{
	label{
		width: auto !important; 
	}
	.controls{
		margin-left: 80px;
		input{
			width: 100%;
		}
	}
}
.selected{
	background-color: #3498db !important;
	color: white;
	.addresslink{
		color: white;
	}
}
.page-header{
	h1{
		display: inline-block;
		padding-right: 20px;
	}
}
.topbuttons{
	margin-left: 20px;
	padding: 6px 12px 6px 12px;
}